{% extends "::Layout/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Registration - {{ parent() }}{% endblock %}
{% block body %}

    <div class="bg">

        <div class="bg-2">

            <!--============================== content ================================-->
            <section id="content" class="row">
                <div class="row" style="margin-bottom: 50px;">
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                        <div id="user_area" class="col-sm-3 col-sm-pull-1">
                            <div style="float: right;" class="row">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    Logged in as <a id="pop" data-toggle="popover" data-html="true" data-content="Please click on the link to <a href='{{ path("fos_user_profile_show") }}'>view your profile</a>" title="<i class='glyphicon glyphicon-user'></i> Your Profile">{{ app.user.firstname }}</a>  <a href="{{ path('fos_user_security_logout') }}" class="lld-contribution"><i class="glyphicon glyphicon-log-out" style="color:lightblue;"></i> Sign Out</a>
                                {% else %}
                                    <a id="pop" href="{{ path('fos_user_security_login') }}" class="lld-security"><i class="glyphicon glyphicon-log-in" style="color:#91abb5;"></i> Sign In </a> - <a href="{{ path('fos_user_registration_register') }}" class="lld-security">Sign Up a Member</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {% if app.user and is_granted("ROLE_USER") %}
                            <a id="pop" href="{{ path('lld_account_logout') }}" class="lld-security"><i class="glyphicon glyphicon-off" style="color:#91abb5;"></i> Logout </a>
                        {% else %}
                            <a id="pop" href="{{ path('lld_account') }}" class="lld-security"><i class="glyphicon glyphicon-log-in" style="color:#91abb5;"></i> Check Account </a>
                        {% endif %}

                    {% endif %}
                </div>
                <div class="container-fluid" style="position: relative; top: 50px;">
                    <div class="row" style="margin-bottom: 50px;">

                    </div>
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body" id="panel-body-sign-in">
                                    <div class="row" >
                                        <div class="col-sm-10 col-sm-offset-1 alert alert-danger" style="text-align: center;border: 1px solid crimson;display: none;">

                                            <button type="button" data-toggle="tooltip" data-placement="top" title="Close" class="close" data-dismiss="alert">&times;</button>
                                            <div id="errorForm">{{ form_errors(form) }}</div>

                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1" style="text-align: center;">
                                            <p style="color: lightblue;"><i class="glyphicon glyphicon-registration-mark"></i> Registration</p>
                                        </div>
                                        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                                            <div class="modal-body">
                                                <div id="fos_user_registration_form">
                                                    <div class="form-group" style="color: red;">
                                                        <input type="text" class="form-control" id="fos_user_registration_form_firstName" placeholder="Your firstname" name="fos_user_registration_form[firstName]" required="required" maxlength="255" pattern=".{2,}" />
                                                        {{ form_errors(form.firstName) }}
                                                    </div>
                                                    <div class="form-group" style="color: red;">
                                                        <input type="text" class="form-control" id="fos_user_registration_form_lastName" placeholder="Your lastname" name="fos_user_registration_form[lastName]" required="required" maxlength="255" pattern=".{2,}" />
                                                        {{ form_errors(form.lastName) }}
                                                    </div>
                                                    <div class="form-group" style="color: red;">
                                                        <input type="email" class="form-control" id="fos_user_registration_form_email" placeholder="Email" name="fos_user_registration_form[email]" required="required" />
                                                        {{ form_errors(form.email) }}
                                                    </div>
                                                    <div class="form-group" style="color: red;">
                                                        <input type="tel" class="form-control" id="fos_user_registration_form_phone" placeholder="Please make sure your phone country code is provided. e.g.: 001 404 90711247. Only digits are accepted." name="fos_user_registration_form[phone]" required="required" maxlength="255" pattern=".{2,}" />
                                                        {{ form_errors(form.phone) }}
                                                    </div>
                                                    <div class="form-group" style="color: red;">
                                                        <input type="password" class="form-control" id="fos_user_registration_form_plainPassword_first" placeholder="Password" name="fos_user_registration_form[plainPassword][first]" required="required" />
                                                        {{ form_errors(form.plainPassword) }}
                                                    </div>
                                                    <div class="form-group" style="color: red;">
                                                        <input class="form-control" type="password" id="fos_user_registration_form_plainPassword_second" placeholder="Type in your password again" name="fos_user_registration_form[plainPassword][second]" required="required" />
                                                    </div>
                                                    <div class="form-group" style="color: lightblue;">
                                                        <div class="col-sm-12">
                                                            {{ form_label(form.image, "Add your photo:", {'label_attr':{'class':'col-sm-6 control-label'}}) }}
                                                            <p style="color: red;">{{ form_errors(form.image) }}</p>
                                                            <div class="row"><br>
                                                                <div class="col-sm-12 form-group form-inline">
                                                                    {{ form_widget(form.image) }}
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    {{ form_row(form._token) }}
                                                </div>
                                                <div>
                                                    <input type="submit" class="form-control btn btn-primary" value="{{ 'registration.submit'|trans }}" />
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </section>
        </div>

    </div>


{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById('mySideNav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById('mySideNav').style.width = "0";
        }
    </script>

{% endblock %}





