{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid" style="position: relative; top: 50px;">
    <div class="row" style="margin-bottom: 50px;">

    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body" id="panel-body-sign-in">
                    <div class="row" >
                        <div class="col-sm-10 col-sm-offset-1 alert alert-danger" style="text-align: center;border: 1px solid crimson;display: none;">
                            {#{% if error %}#}
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Close" class="close" data-dismiss="alert">&times;</button>
                            <div id="errorForm">{{ form_errors(form) }}</div>
                            {#{% endif %}#}
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" style="text-align: center;">
                            <p style="color: lightblue;"><i class="glyphicon glyphicon-edit"></i> Edit</p>
                        </div>
                        <form action="{{ path('lld_profile_edit', {'id':user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                            <div class="modal-body">
                                <div id="fos_user_registration_form">
                                    <div class="form-group" style="color: red;">
                                        <input type="text" class="form-control" id="fos_user_registration_form_firstName" placeholder="Your firstname" name="firstName" required="required" maxlength="255" pattern=".{2,}" value="{% if app.user %}{{ user.firstName }}{% endif %}" />
                                        {{ form_errors(form.firstName) }}
                                    </div>
                                    <div class="form-group" style="color: red;">
                                        <input type="text" class="form-control" id="fos_user_registration_form_lastName" placeholder="Your lastname" name="lastName" required="required" maxlength="255" pattern=".{2,}" value="{% if app.user %}{{ user.lastName }}{% endif %}" />
                                        {{ form_errors(form.lastName) }}
                                    </div>
                                    <div class="form-group" style="color: red;">
                                        <input type="email" class="form-control" id="fos_user_registration_form_email" placeholder="Email" name="email" required="required" value="{% if app.user %}{{ user.email }}{% endif %}" />
                                        {{ form_errors(form.email) }}
                                    </div>
                                    <div class="form-group" style="color: red;">
                                        <input type="tel" class="form-control" id="fos_user_registration_form_phone" placeholder="Please make sure your phone country code is provided. e.g.: 001 404 90711247. Only digits are accepted." name="phone" required="required" maxlength="255" pattern=".{2,}" value="{% if app.user %}{{ user.phone }}{% endif %}" />
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    <div class="form-group" style="color: red;">
                                        <input  class="form-control" id="fos_user_registration_form_amount" placeholder="Type the amount here" name="amount"  value="{% if app.user %}{{ user.amount }}{% endif %}" />
                                        {{ form_errors(form.phone) }}
                                    </div>
                                    <input  type="hidden"  name="id"  value="{% if app.user %}{{ user.id }}{% endif %}" />
                                    {#

                                    <div class="form-group" style="color: lightblue;">
                                        <div class="col-sm-12">
                                            {{ form_label(form.image, "Add your photo:", {'label_attr':{'class':'col-sm-6 control-label'}}) }}
                                            <p style="color: red;">{{ form_errors(form.image) }}</p>
                                            <div class="row"><br>
                                                <div class="col-sm-12 form-group form-inline">
                                                    {{ form_widget(form.image) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    #}

                                    {{ form_row(form._token) }}
                                </div>
                                <div>
                                    <input type="submit" class="form-control btn btn-primary" value="UPDATE" />
                                </div>
                            </div>

                        </form>













                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>

</div>
