{% extends "::Layout/layout.html.twig" %}
{% block title %}Sign In - {{ parent() }}{% endblock %}
{% block body %}

    <div class="bg">
        <div class="bg-2">
            {% include('MainBundle:Common:header2.html.twig') with { active:''} %}
            <!--============================== content ================================-->
            <section id="content" class="row">
                <div class="container-fluid" style="position: relative; top: 50px;">
                    <div class="row">
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-body" id="panel-body-sign-in">
                                    <div class="row" >
                                        <div id="display-error-login" class="col-sm-10 col-sm-offset-1 alert alert-danger alert-login" style="text-align: center;border: 1px solid crimson;display: none;">
                                            {% if error %}
                                                <button type="button" data-toggle="tooltip" data-placement="top" title="Close" class="close" data-dismiss="alert">x</button>
                                                <div id="errorForm">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-1" style="text-align: center;">
                                            <p style="color: lightblue;"><i class="glyphicon glyphicon-log-in"></i> Sign In</p>
                                            <form action="{{ path('fos_user_security_check') }}" method="post">
                                                <div class="modal-body">
                                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                                    <div class="form-group">
                                                        <input type="text" name="_username" id="username" class="form-control" placeholder="Email" required="required" />
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" name="_password" id="password" class="form-control" placeholder="Password" required="required" />
                                                    </div>
                                                    <div class="form-group" style="float: left;">
                                                        <label style="color: lightblue;">
                                                            <input type="checkbox"> Remember me
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" class="form-control btn btn-primary" value="Log In" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <div style="float: left;">
                                                        <a href="{{ path('fos_user_resetting_request') }}" style="color: lightblue;">Lost Password?</a>&nbsp;&nbsp;
                                                        <a href="{{ path('fos_user_registration_register') }}" style="color: lightblue;">Register</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </section>
        </div>

    </div>

    {% include('MainBundle:Common:aside.html.twig') %}
    {% include('MainBundle:Common:footer.html.twig') %}
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function openNav() {
            document.getElementById('mySideNav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById('mySideNav').style.width = "0";
        }
    </script>

{% endblock %}





