{% trans_default_domain 'FOSUserBundle' %}

<div class="bg">
    <div class="bg-2">
        <section id="content" class="row">
            <div class="row">
                {% if app.session.flashbag.has('info-edit') %}
                    <div class="alert alert-success">
                        {% for message in app.session.flashbag.get('info-edit') %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-3">
                {% if app.session.get('thisuser') and app.session.get('thisuser').image is defined %}
                    <img src="{{ app.session.get('thisuser').image.webPath }}" width="200" height="130" />
                {% else %}
                    {% if app.session.get('thisuser').image is defined %}
                        <img src="{{ asset(app.session.get('thisuser').image.uploadDir ~ '/' ~ app.session.get('thisuser').image.id ~ '.' ~ app.session.get('thisuser').image.url) }}" style="max-width: 130px;max-height: 130px;" />
                    {% endif %}

                {% endif %}
            </div>
            <div class="col-sm-9"></div>
            <div class="slogan">
                <div class="row">
                    <div class="col-sm-12">
                        {% if app.session.get('thisuser') %}
                            <p class="clr-1">{{ app.session.get('thisuser').firstName }} {{ app.session.get('thisuser').lastName }}</p><br><br>
                            <p>{{ 'profile.show.email'|trans }}: {{ app.session.get('thisuser').username }}</p><br><br>
                            <p>

                            </p>
                            <p>Subscription Date : {{ app.session.get('thisuser').date | date("m/d/Y H:i:s") }}</p><br><br>
                            <p>Current Balance: <span style="font-weight: bold;color: green;">{{ app.session.get('thisuser').amount }} Dirhams</span></p>
                        {% else %}
                            <h2>Firstname Lastname</h2>
                            <p>{{ 'profile.show.email'|trans }}: email</p><br><br>
                            <p>

                            </p>
                            <p>Subscription Date : </p><br><br>
                            <p>Current Balance: amount</p>
                        {% endif %}

                    </div>

                </div>

            </div>
        </section>
    </div>
</div>


